.main-home{
    margin-top: 100px;
}

.homepage{
   
   display: flex;
   /* background-color: antiquewhite; */
    
}

.homepage-cont{
    font-size: 32px;
    width: 100%;
    /* background-color: #ecddce; */
   
}


 p > span{
    background: -webkit-linear-gradient( #020091 ,rgb(255, 130, 255));
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}
.homepage-img{
    width: 20%;
   
}
.homepage-img > img{
    margin-left:30%;
}

.social-head{
    text-align: center;
    margin: 75px 0px;
    font-size: 55px;
    font-weight: bolder;
    background: -webkit-linear-gradient( hwb(241 17% 11%) ,rgb(255, 60, 197));
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.social{
    margin: 30px 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social > a > img{
    width: 150px;
    /* background-color: #ff4646; */
}

.social > a > img:hover{
 
    background: -webkit-linear-gradient( hwb(241 17% 11%) ,rgb(255, 60, 197));
 -webkit-text-fill-color: transparent;
  border-radius: 50px;
}
 

