 body{
   color:hsl(305, 75%, 62%); 
   /* color: #ff7dd8; */
   
   background-color: black;
   
}
*{
  margin: 6px 3px;
} 
.tech-head{
  text-align: center;
  margin: 75px 0px;
  font-size: 55px;
  font-weight: bolder;
  background: -webkit-linear-gradient( hwb(241 17% 11%) ,rgb(255, 60, 197));
  -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.exp-head{
  text-align: center;
  margin: 75px 0px;
  font-size: 55px;
  font-weight: bolder;
  background: -webkit-linear-gradient( hwb(241 17% 11%) ,rgb(255, 60, 197));
  -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

/* p,a{
  font-size: 72px;
  background: -webkit-linear-gradient( hwb(241 17% 11%) ,rgb(255, 60, 197));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}  */
.cpy{ 
  /* margin-left: 45%; */
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
}
.cpy > img{
   width:40px;
}
.cpy > p{
  background: -webkit-linear-gradient( #3532ff ,rgb(223, 98, 185));
  -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-size: larger;
 font-weight: bolder;
}
.myimg{
  width: 70vw;
  margin: auto;
  display: block;
 
  /* margin-right: 2vw; */
  /* margin-top: 80vw; */
  /* height: 80vh; */
  border-radius: 15px;
  
}

@media only screen and (max-width: 700px) {


   
  .homepage-img > img{
    display: none;
  }

  
  
  .homepage{
    display: block;
    margin-top: 0px;
  }

  .main-home{
    margin-top: 6vh;
  }

  .homepage-cont{
    
    font-size: 17px;
  }

  .social-head,.tech-head{
    font-size: 32px;
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  

  .social > a > img   {
    width:20vw;
  }
  .image-printer{
    width:31%;
    /* margin: 0px 2px; */
    /* background-color: aqua; */
  }

  .icon-cont,.icon-cont2,.icon-cont3{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:93vw;
}

.image-printer > img {
  width:24vw;
   
}

   

.image-printer > p {
   margin-left: -3vw;

}

.myimg{
  width:70vw;
  display:block;
  margin: 4vh auto;
 
}
/* 
.cpy{
  width: 75vh;
  font-size: small;
} */

.cpy > img {
  width:4vh;
}


.cpy{
  font-size: 2vh;
}






}


